html {
    font-size: 14px;
    background: linear-gradient(to right, rgb(147, 200, 228), #e0e759);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background: linear-gradient(to right, rgb(147, 200, 228), #e0e759);
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to right, rgb(147, 200, 228), #e0e759);
}

.button {
    
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-index {
    margin-left: auto;
    margin-top: 10px;
}

.col-md-4 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col-md-4 {
    padding: 10px;
    margin-bottom: auto;
    max-height: 500px;
    max-width: 300px;
}

.col-md-44 {
    padding: 10px;
    max-height: 800px;
    max-width: 400px;
}

.my-class {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: linear-gradient(to right, rgb(141, 252, 76), #ee76e6);
}

.container-fluid {
    margin-left: 40%;
}

.bbb {
    margin: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #d464f4;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
    .bbb:hover {
        opacity: 0.7;
        background-color: #d464f4;
    }

.ddd {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #2ab1c9;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 100%;
}

    .ddd:hover {
        opacity: 0.7;
        background-color: #2ab1c9;
    }

.rounded-start{
    border-radius: 4px;
}

.ee {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #f5e513;
    color: black;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 30%;
}

    .ee:hover {
        opacity: 0.7;
        background-color: #f5e513;
        color: black;
    }
.dd {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #ec0707;
    color: black;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 27%;
}

    .dd:hover {
        opacity: 0.7;
        background-color: #ec0707;
        color: black;
    }
.bb {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #d464f4;
    color: black;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 40%;
}

    .bb:hover {
        opacity: 0.7;
        background-color: #d464f4;
        color: black;
    }

.ss {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #48e945;
    color: black;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 40%;
}

    .ss:hover {
        opacity: 0.7;
        background-color: #48e945;
        color: black;
    }

.form-control{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
